* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
body {
  background-color: brown;
}

.title {
  color: white;
} */

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: solid;
  max-width: 1920px;
  width: 100%;
  margin: auto;
  background-color: rgb(186, 224, 226);
}

.logo {
  width: 20vw;
}

ul {
  display: flex;
  list-style: none;
  width: 30vw;
  border: solid;
  justify-content: space-between;
  text-transform: capitalize;
}

.menu {
  display: none;
  border: none;
  background-color: rgb(186, 224, 226);
  font-size: 20px;
}

@media (max-width: 600px) {
  .menuOpen {
    display: initial;
    transition: ease-in-out 1s;
  }

  .close {
    display: none;
  }

  .menu {
    display: initial;
    width: 20px;
    transition: ease-in-out 1s;
  }
}
