* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
}

.login {
  margin: auto;
  width: 29vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.riot {
  margin-bottom: 83px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 11px;
}

h1 {
  margin-bottom: 10px;
}

form input {
  background-color: #e8e6e6;
  margin-bottom: 23px;
  width: 22vw;
  height: 78px;
  border: none;
  border-radius: 5px;
}

input::placeholder {
  position: relative;
  bottom: 30%;
  left: 3%;
}

.redesSociais {
  display: flex;
  justify-content: space-between;
  height: 43px;
  width: 22vw;
  margin-bottom: 44px;
}

.redesSociais a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  border-radius: 5px;
}

.facebook {
  background: #2051ff;
}

.google {
  background: #8a0000;
}

.apple {
  background: #000000;
}

.checkLogin {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 136px;
  padding-right: 60%;
}

.button {
  width: 51px;
  height: 47px;
  background: rgba(255, 0, 46, 0.21);
  border-radius: 10px;
  border: none;
}

.box {
  background: #ff002e;
  width: 51px;
  height: 47px;
  border-radius: 10px;
  border: none;
}

p a {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #a6a6a6;
  text-decoration: none;
}

.lolImage {
  width: 100%;
  height: 90vh;
}
