* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.photo {
  display: none;
}

.show {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.mostrar {
  font-size: 14px;
}

.caixa {
  width: 200px;
  height: 200px;
  background-color: black;
}